<p>real-time-chart works!</p>
<div class="container">
  <div style="margin-left: 25px">
    <div class="col">
            <div #chart></div>




<!--      <ngx-charts-line-chart-->
<!--        [view]="view"-->
<!--        [scheme]="colorScheme"-->
<!--        [legend]="legend"-->
<!--        [showXAxisLabel]="showXAxisLabel"-->
<!--        [showYAxisLabel]="showYAxisLabel"-->
<!--        [xAxis]="xAxis"-->
<!--        [yAxis]="yAxis"-->
<!--        [xAxisLabel]="xAxisLabel"-->
<!--        [yAxisLabel]="yAxisLabel"-->
<!--        [timeline]="false"-->
<!--        [autoScale]="false"-->
<!--        [results]="test"-->
<!--        >-->
<!--      </ngx-charts-line-chart>-->
    </div>
  </div>

</div>

