<div class="grid-container">
  <div class="menu-icon">
    <strong> &#9776;</strong>
  </div>
  <header class="header">
    <div class="header_search"></div>
    <div class="header_avatar">Logout</div>
  </header>
  <aside class="aside">
    <div class="aside_close-icon">
      <strong>&times;</strong>
    </div>
    <ul class="aside_list">
      <li class="aside_list-item">Menu item1</li>
      <li class="aside_list-item">Menu item2</li>
      <li class="aside_list-item">Menu item3</li>
      <li class="aside_list-item">Menu item4</li>
      <li class="aside_list-item">Menu item5</li>
    </ul>
  </aside>
  <main class="main">
    <div class="main_overview">
      <div class="overview_card">

        <app-counter></app-counter>
      </div>

    </div>

    <div class="main_cards">
      <div class="card">
        <app-real-time-chart [newElement]="oneObjectThreeGames"></app-real-time-chart>
      </div>

    </div>
    <div class="main_cards">
      <div class="card">

      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer_copyright">&copy;Ira Varshavsky 2020</div>
    <div class="footer_byline">Made with &hearts;</div>
  </footer>
</div>

<!--<app-real-time-chart [newElement]="oneObjectThreeGames"></app-real-time-chart>-->
