<!--The content below is only a placeholder and can be replaced.-->
<div class="userNumBar">{{(res| async)?.counter}}</div>

<router-outlet></router-outlet>

<app-counter></app-counter>


<!--<app-real-time-chart [gameCounterStatus]="gameDataStatusToPlot"></app-real-time-chart>-->
<app-real-time-chart
                     [oneGameForChart]="gameDataArr"></app-real-time-chart>
<!--&lt;!&ndash;<app-test-chart></app-test-chart>&ndash;&gt;-->
<!--<app-market-status [marketStatus]="marketStatusToPlot"></app-market-status>-->
